/******************General
******************/

.hidden {
  display: none;
}

.choices {
  list-style: none;
}

.instruction {
  max-width: 600px;
  display: inline-block;
  margin-bottom: 20px;
}

/******************IMAGES
******************/

.choices li {
  display: inline-block;
  width: 55%;
  margin: 5px;
  max-width: 300px;
}

.choices .inactive {
  border: 3px solid black;
}

.choices li:hover {
  opacity: .5;
}

.choices .active {
  opacity: .5;
  border: 3px solid rgba(20, 155, 31, .7);
}

.choices img {
  width: 100%;
}

.choices span {
  display: block;
  position: relative;
  color: white;
  text-align: center;
  width: 100%;
  margin-top: -35px;
  height: 32px;
  font-size: 1.4rem;
  background-color: rgba(0,0,0,.7);
  padding-top: 3px;
}

.choices .selected {
  background-color: rgba(20, 155, 31, .7)
}

#button {
    font-size: 1.5rem;
    padding: 25px;
    background: rgb(42, 47, 86);
    border: 0 none;
    cursor: pointer;
    color: white;
    border-radius: 5px;
    width: 50%;
    max-width: 355px;
}
